// background
$background-overlay-color:    hsla(0, 100%, 100%, 0);
$background-color:            hsl(0, 100%, 100%); 
  
// layout  
$block-alignment:     start; // center start end
$block-valignment:    start; // center start end
$block-width:         25%;
$block-padding:       36px;
$block-background:    hsla(0, 100%, 100%, 1);
$text-area-margin:    0;
$text-alignment:      left; // center left right
  
// title  
$title-family:        'Lato'; 
$title-weight:        500; 
$title-size:          28px; 
$title-line-height:   1.29; 
$title-color:         hsla(0, 0%, 0%, 1); 

// heading
$heading-family:      'Josefin Sans';  
$heading-weight:      300; 
$heading-size:        16px; 
$heading-line-height: 1.25; 
$heading-color:       hsla(0, 0%, 0%, 1); 

// text
$text-family:         'Josefin Sans'; 
$text-weight:         400; 
$text-size:           16px; 
$text-line-height:    1.25; 
$text-color:          hsla(0, 0%, 0%, 1); 