// background
$background-color:    hsla(0, 0%, 0%, 0);
  
// layout  
$block-alignment:     start; // center start end
$block-valignment:    start; // center start end
$block-width:         50%;
$block-padding:       0px;
$block-background:    hsla(0, 100%, 100%, 1);
$text-area-margin:    36px;
$text-alignment:      left; // center left right
  
// title  
$title-family:        'EB Garamond'; 
$title-weight:        400; 
$title-size:          32px; 
$title-line-height:   1.25; 
$title-color:         hsla(0, 0%, 0%, 1); 

// heading
$heading-family:      'EB Garamond';  
$heading-weight:      600; 
$heading-size:        16px; 
$heading-line-height: 1.25; 
$heading-color:       hsla(0, 0%, 0%, 1); 

// text
$text-family:         'EB Garamond'; 
$text-weight:         400; 
$text-size:           16px; 
$text-line-height:    1.25; 
$text-color:          hsla(0, 0%, 0%, 1); 